body {
    padding-top: 5rem;
}

.req{
    color: red;
}

h5{
    margin-top: 30px;
    margin-bottom: 2px;
}

.but{
    border: none;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    padding: 10px 35px;
    margin-top: 30px;
    background-color: rgb(27, 156, 247);
}

.flash li{
    font-size: 30px;
    color: red;
    font-weight: bold;
}
